# Env
.env
.env.local
.env.*.local
frontend/.env
frontend/.env.local
*.cloudrun.yaml
*.cloudrun.yml

# Node
node_modules/
dist/
build/

# Prisma
backend/prisma/migrations/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
